#### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [2]:
import sqlite3

In [3]:
## Connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [4]:
conn = sqlite3.connect('Example1.db')
conn

In [5]:
cursor=connection.cursor()

In [5]:
cursor = conn.cursor()

In [6]:
cursor.execute('''
create table if not exists emplo1(
id integer primary key,
name text not null,
age integer,
department text
)
''')
conn.commit()

In [7]:
cursor.execute('''
select * from emplo1
''')

In [9]:
cursor.execute('''
insert into emplo1(name,age,department)
            values("GK",22,"data")

''')

cursor.execute('''
insert into emplo1(name,age,department)
            values("GK1",23,"data1")

''')

cursor.execute('''
insert into emplo1(name,age,department)
            values("GK2",20,"data2")

''')

cursor.execute('''
insert into emplo1(name,age,department)
            values("GK3",21,"data3")

''')
conn.commit()

In [10]:
cursor.execute('''
select * from emplo1
''')
rows = cursor.fetchall()
for i in rows:
    print(i)

(1, 'GK', 22, 'data')
(2, 'GK1', 23, 'data1')
(3, 'GK2', 20, 'data2')
(4, 'GK3', 21, 'data3')
(5, 'GK', 22, 'data')
(6, 'GK1', 23, 'data1')
(7, 'GK2', 20, 'data2')
(8, 'GK3', 21, 'data3')

In [11]:
cursor.execute('''
update emplo1
set age=211 where name='GK1'
''')
conn.commit()

In [12]:
cursor.execute('''
select * from emplo1
''')
rows = cursor.fetchall()
for i in rows:
    print(i)

(1, 'GK', 22, 'data')
(2, 'GK1', 211, 'data1')
(3, 'GK2', 20, 'data2')
(4, 'GK3', 21, 'data3')
(5, 'GK', 22, 'data')
(6, 'GK1', 211, 'data1')
(7, 'GK2', 20, 'data2')
(8, 'GK3', 21, 'data3')

In [13]:
cursor.execute('''
delete from emplo1
where name='GK1'
''')
conn.commit()

In [14]:
cursor.execute('''
select * from emplo1
''')
rows = cursor.fetchall()
for i in rows:
    print(i)

(1, 'GK', 22, 'data')
(3, 'GK2', 20, 'data2')
(4, 'GK3', 21, 'data3')
(5, 'GK', 22, 'data')
(7, 'GK2', 20, 'data2')
(8, 'GK3', 21, 'data3')

In [6]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [8]:
cursor.execute('''
Select * from employees
    
''')

In [9]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Krish',32,'Data Scientist')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commi the changes
connection.commit()

In [10]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [12]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
where name="Krish"
''')

connection.commit()

In [13]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [16]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name ='Bob'
''')

connection.commit()

In [17]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [19]:
connection1 = sqlite3.connect('saledata123.db')
c = connection1.cursor()

c.execute('''
create table if not exists sales1(
id integer primary key,
date text not null,
product text not null,
sales ineteger,
region text
)
''')

sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

c.executemany('''
insert into sales1(date,product,sales,region)
values(?,?,?,?)
''',sales_data)
connection1.commit()

In [20]:
## Query the data from the table
c.execute('Select * from sales1')
rows=c.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [21]:
connection1.close()

In [22]:
## Query the data from the table
c.execute('Select * from sales1')
rows=c.fetchall()

## print the queried data

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

In [19]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [20]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [21]:
## close the connection
connection.close()

In [22]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.